@charset "utf-8";
/* CSS Document */
body {
	font-family:Arial, Helvetica, sans-serif;
		
}
#mainDiv {
	width: 1200px;
	margin: 0 auto;
}
#sideDivLeft {
	display:inline-block;
	float:left;
	width:.5%;
	height:75%;
}
#centerDiv {
	display:inline-block;
	float:left;
	width:98%;
}

#sideDivRight {
	display:inline-block;
	float:left;
	width:.5%;
	height:75%;
}

#leftMiddleDiv {
	display:inline-block;
	float:left;
	height: 40%;
}
#middleMiddleDiv {
	display:inline-block;
	float:left;
	height: 50%;
}
#rightMiddleDiv {
	display:inline-block;
	float:left;
	height: 40%;	
}
#logoMainDiv {
	display:inline-block;
	float:left;
	height: 40%;
	padding-right:10px;	
}

#infoDivTop{
	display:inline-block;
	float:left;
	text-align:left;
	padding-left: 10px;
	font-size:12px;
	clear:none;
}
.dottedLowerBorder {
	border-left:dotted;
	border-left-color:#5D6985;
	padding-right: 10px;
	margin-left: 10px;
	font-size:14px;
	color:#006;
}

#contentDiv {
	display:inline-block;
	float:left;
	clear:right;
}

.shadow {
	box-shadow: 5px 5px 5px #888888;
}

.bottomLeftDiv {
	color:#18A088;
	padding-left:10px;
	padding-right:10px;
}
.javascript {
	float:left;
	font-size:9px;
	text-align:center;
	width:110px;
	height:16px;
	font-weight:bold;
	border:2px solid;
    border-radius:7px;
	border-color:#2F7D84;
	box-shadow: 5px 5px 5px #888888;
	margin:2px
}
.javascript2 {
	float:left;
	font-size:10px;
	text-align:center;
	width:80px;
	height:16px;
	font-weight:bold;
	border:2px solid;
    border-radius:7px;
	border-color:#2F7D84;
	box-shadow: 5px 5px 5px #888888;
	margin:2px	
}
.javascript3 {
	float:left;
	font-size:9px;
	text-align:center;
	width:120px;
	height:16px;
	font-weight:bold;
	border:2px solid;
    border-radius:7px;
	border-color:#2F7D84;
	box-shadow: 5px 5px 5px #888888;
	margin:2px	
}

.javascript4 {
	float:left;
	font-size:9px;
	text-align:center;
	width:110px;
	height:16px;
	font-weight:bold;
	border:2px solid;
    border-radius:7px;
	border-color:#2F7D84;
	box-shadow: 5px 5px 5px #888888;
	margin:2px	
}

.colorSpan {
	color:#60828a;	
}
#bold{
	font-weight:bolder;
	
}
#blue {
	color:#136796;
}
#color2 {
	color:#60828a;
}

#image1 {
	float:left;
}

#rssFeed {
	clear:left;
	width:490px;
	border:dotted;
	border-color:#5D6985;
	font-size:11px;
}
#mainContent {
	height:300px;
	width:490px;
	overflow: scroll;
}

a:link {text-decoration:none; color:black;}      /* unvisited link */
a:visited {text-decoration:none; color:black;}  /* visited link */
a:hover {text-decoration:none; color:black;}  /* mouse over link */
a:active {text-decoration:none; color:black;}  /* selected link */ 